*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //since we want 10px so we divide it with 16px 10/16 = 0.625 also 16px is default val used by browsers
}
body {
  box-sizing: border-box;
}